@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  /* Couleur principale #0066bf */
  --color-primary-50: #e6f2ff;
  --color-primary-100: #cce5ff;
  --color-primary-200: #99cbff;
  --color-primary-300: #66b0ff;
  --color-primary-400: #3396ff;
  --color-primary-500: #0066bf;
  --color-primary-600: #0052a3;
  --color-primary-700: #003d7a;
  --color-primary-800: #002952;
  --color-primary-900: #001429;
  --color-primary-950: #000a14;

  /* Couleur green existante */
  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}
